/* debug */
.debug [class ^='col']{
    background-color: green;
}
/* #region utilitys */
:root{
    --headerbkg: #2c3e50;
    --iconmenu: #888888;
    --borderquareicon: #dddddd;
    --startbkg: #1abc9c;


}










/* smartphone-frist base */
/* #region header */
nav{
    background-color: var(--headerbkg);
}
.menumd{
    display: none;
}
.square_ico{
    border-color: var(--borderquareicon);
    border-style: solid;
    height: 2rem;
    width: 2rem;
    border-width: 0.1rem;
}
.square_ico i{
    color: var(--iconmenu);
}
/* #endregion header */
/* #region section start */
.start{
    background-color: var(--startbkg);
}
/* #region section top */
.start .col .top .img{
    height: 270px;
    aspect-ratio: 1/1;
}
.start .col .top .img svg{
    max-width: 100%;
    aspect-ratio: 1/1;
}
/* #endregion section top */
/* #region section bottom */
.start .container .row .col-8 .bottom .spacer .line{
    height: 0.1rem;
    width: 30%;
}
.start .container .row .col-8 .bottom p{
    font-size: small;
}
/* #endregion section bottom */

/* #endregion section start */

/* smartphone > up responsive */

