/* debug */
.debug [class ^='col'] {
    background-color: green;
}

/* #region utilitys */
:root {
    --headerbkg: #2c3e50;
    --iconmenu: #888888;
    --borderquareicon: #dddddd;
    --startbkg: #1abc9c;
    --textportfolio: #333333;

}










/* smartphone-frist base */
/* #region header */
nav {
    background-color: var(--headerbkg);
}

.menumd {
    display: none;
}

.square_ico {
    border-color: var(--borderquareicon);
    border-style: solid;
    height: 2rem;
    width: 2rem;
    border-width: 0.1rem;
}

.square_ico i {
    color: var(--iconmenu);
}

/* #endregion header */
/* #region section start */
.start {
    background-color: var(--startbkg);
}

/* #region section top */
.start .top .img {
    height: 270px;
    aspect-ratio: 1/1;
}

.start .top .img svg {
    max-width: 100%;
    max-height: 100%;
}

/* #endregion section top */
/* #region section bottom */
.start .bottom .spacer .line,
.portfolio .spacer .line,
.about .spacer .line,
.contact .spacer .line{
    height: 0.2rem;
    width: 15%;
}
.start .bottom .spacer  i,
.portfolio .spacer  i,
.about .spacer  i,
.contact .spacer i{
    scale: 1.5;
}




.start .bottom p {
    font-size: small;
}

/* #endregion section bottom */

/* #endregion section start */
/* #region section portfolio */
.portfolio h2 {
    color: var(--textportfolio);
}

.portfolio .spacer {
    color: var(--headerbkg);
}
.portfolio .spacer .line,
.contact .spacer .line{
    background-color: var(--headerbkg);
}
.portfolio .img {
    overflow: hidden;
}
.portfolio .img img{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
/* #endregion section portfolio */
/* #region section about */
.about{
    background-color: var(--startbkg);
}
/* #endregion section about */
/* #region section contact */
.contact {
    color: var(--textportfolio);
}
.contact .container_input >  input{
    color: var(--headerbkg);
}
.contact .container_input .message{
    width: 100%;
}
.contact .sendbtn{
    width: 20%;
    background-color: var(--startbkg);
}

/* #endregion section contact */
/* smartphone > up responsive */